body{
    color: white;
    background: url("media/background.jpg");
    background: cover;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2% 0;
}

.btn{
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.form-group{
    border: 2px solid white;
    width: 80%;
    margin: 3rem auto 1rem auto;
    padding: 2%;
}

.password-label{
    text-align: center;
    color: white;
}

.password p{
    
    margin:  0 10% 5% 10%;
    background: white;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 600; 
} 


.card{
    background: transparent;
    width: 100%;
    margin:2% auto;

}