{% extends 'base.html' %} 
{% load static %} 

{% block css %}
    {% static 'main.css' %}
{% endblock css %}

{% block content %}
    <div>
        <h1>Password Generator</h1>
    </div>
    
    <div> 
        <h3> How is your social media accounts are hacked.?</h3>
        <p>one of the main reason is weak password . most of them will give very weak password for their personal accounts</p>
        <p>someone will give their name, someone will give the 1-9 numbers just orderly</p>
        <p>others will give their pet name, place name etc.</p>
        <p>a hacker can easily guess and can easily hack your account with these password .</p>
    </div> 

    <div>
        <h3>Which is weak password ?</h3>
        <p>The password is a word found in a dictionary (English or foreign)</p>
        <p>Names of family, pets, friends, coworkers, fantasy characters, etc.</p>
        <p>Birthdays and other personal information such as addresses and phone numbers.</p>
        <p>Word or number patterns like aaabbb, qwerty, zyxwvuts, 123321, etc.</p>
        <p>not only these . lot of reasons for a weak password</p>
    </div>

    <div>
        <h3>How can we secure our accounts with a strong password ?</h3>
        <p>A mixture of both uppercase and lowercase letters</p>
        <p>A mixture of letters and numbers</p>
        <p>Inclusion of at least one special character, e.g., ! @ # ? ]</p>
        <p>use diffrent password for diffrent accounts .</p>
        <p>change it in atleast month or week</p>
    </div>

{% endblock content %}