{% extends 'base.html' %} 
{% load static %} 

{% block css %}
    {% static 'password-generator.css' %}
{% endblock css %}

{% block content %}
    <form action="" method="POST" id="myForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="pass_letter">How many letters would you like in your password?</label><br>
            <input class="form-control" type="number" name="pass_letter" placeholder="how many letter ?" required><br>
            <label for="pass_number">How many numbers would you like in your password?</label><br>
            <input class="form-control" type="number" name="pass_number" placeholder="how many number ?" required><br>
            <label for="pass_symbol">How many symbols would you like in your password?</label><br>
            <input class="form-control" type="number" name="pass_symbol" placeholder="how many symbol ?" required><br>

            <button type="submit" class="btn btn-danger" >Generate Password</button>
        </div>
    
    </form> 
    <p class="password-label">your password is:</p>

    <div class="password card">
        <p>{{password}}</p>
    </div>

{% endblock content %}